html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(90deg, rgba(7,9,34,1) 0%, rgba(13,14,32,1) 50%, rgba(7,9,34,1) 100%);
}
.g-text{
    color: #01ED81;
}
.menu-gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,45,68,1) 50%, rgba(15,22,39,1) 100%);
}
.menu-text {
    font-style: italic;
}
header {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    color: #DADADA;
    background: rgb(7,9,34);
    background-color: rgba(13,14,32,1);
    animation: scrollOpacity auto linear;
    animation-timeline: scroll(root);
}
#logo {
    display: inline-block;
    background-image: url('../src/imgs/logo.png');
    min-width: 55px;
    min-height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes scrollOpacity {
    0% {
        background-color: rgba(13,14,32,0);
    }
    20% {
        background-color: rgba(13,14,32,1);
    }
}
