html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(90deg, rgba(7,9,34,1) 0%, rgba(13,14,32,1) 50%, rgba(7,9,34,1) 100%);
}
.g-text{
    color: #01ED81;
}
.menu-gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,45,68,1) 50%, rgba(15,22,39,1) 100%);
}
.menu-text {
    font-style: italic;
}
header {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    color: #DADADA;
    background: rgb(7,9,34);
    background-color: rgba(13,14,32,1);
    animation: scrollOpacity auto linear;
    animation-timeline: scroll(root);
}
#mainlogo {
    display: block;
    min-width: 60px;
    min-height: 60px;
    overflow: hidden;
}
#flogo{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 100%;
    padding-left: calc(padding-top);
    background-image: url('../src/imgs/fbl2.png');
    background-size: 200% 100%;
    background-repeat: repeat;
    animation: moving 10s linear infinite;
    z-index: 2;
    box-shadow: inset 4px 0 4px 2px rgba(0, 0, 0, 0.2),
                inset -4px 0 4px 2px rgba(255, 255, 255, 0.2)
}
#blogo{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: calc(-100%);
    padding-top: 100%;
    padding-left: calc(padding-top);
    background-image: url('../src/imgs/fbl2.png');
    background-size: 200% 100%;
    background-repeat: repeat;
    animation: moving 20s linear infinite reverse;
    z-index: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@keyframes scrollOpacity {
    0% {
        background-color: rgba(13,14,32,0);
    }
    20% {
        background-color: rgba(13,14,32,1);
    }
}

@keyframes moving {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 91% 0%;
    }
}
